.gambarasik {
  /* position: relative; */
  /* text-align: center; */
  font-size: 30px;
  background: url(jadi-asset/balis..avif);
  width: 100%;
  height: 800px;
  display: flex;
  /* justify-content: center; */
}

.tradisi dari badung yang masih dilestarikan {
  margin-top: 15%;
}
